<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">@ViewData["headerTitle"]</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" id="refresh_morris_@ViewData["name"]">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="box-body chart-responsive">
        <div class="alert alert-info" id="morris_@ViewData["name"]_error" style="display: none">Sorry, can't fetch data.</div>
        <div class="chart" id="@ViewData["name"]-chart" style="height: 300px;"></div>
    </div>
    <div class="overlay" id="overlay_morris_@ViewData["name"]" style="display: none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>